# This file is managed by ansible
# manual changes will be overwritten
#
# configuration for ansible-pull
# this is written by debconf via package dknansiblepulldeploy
# use dpkg-reconfigure to configure

git_url={{ apd_git_url }}
branch={{ apd_branch }}
gpg_verify={{ apd_gpg_verify }}
accept_host_key={{ apd_accept_host_key }}
on_repoupdate={{ apd_on_repoupdate }}
deploy_key={{ apd_deploy_key_path|default('/etc/ansiblepulldeploy/id_rsa') }}
vault_password_file={{ apd_vault_password_path|default('/etc/ansiblepulldeploy/vault_password') }}
