[sssd]
config_file_version = 2
reconnection_retries = 3
sbus_timeout = 30
services = nss, pam
domains = INTERN
 
[nss]
# Filter um bestimmte Gruppen/User nicht über sssd zu authentifizieren
# filter_groups = root
# filter_users = root
filter_users = root,lightdm,nslcd,dnsmasq,dbus,avahi,avahi-autoipd,backup,beagleindex,bin,daemon,games,gdm,gnats,haldaemon,hplip,irc,ivman,klog,libuuid,list,lp,mail,man,messagebus,mysql,news,ntp,openldap,polkituser,proxy,pulse,puppet,saned,sshd,sync,sys,syslog,uucp,vde2-net,www-data
filter_groups = root
reconnection_retries = 3
 
[pam]
reconnection_retries = 3
offline_credentials_expiration = 0
 
[domain/INTERN]
# enumerate: Sollen alle passwd/gruppen Informationen abgefragt werden - oder nur on demand
enumerate = true
cache_credentials = true
 
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
 
# to restrict for user or groups:
access_provider = simple
simple_allow_users =  {{ sssd_ldap_allow_users }}
simple_allow_groups = {{ sssd_ldap_allow_groups }}
 
ldap_uri = {{ sssd_ldap_uri }}
ldap_default_bind_dn = {{ sssd_ldap_default_bind_dn }}
ldap_default_authtok = {{ sssd_ldap_default_authtok }}
ldap_default_authtok_type = password
ldap_search_base = {{ sssd_ldap_search_base }}
ldap_user_search_base = {{ sssd_ldap_user_search_base }}
ldap_group_search_base = {{ sssd_ldap_group_search_base }}
ldap_user_object_class = posixaccount
ldap_user_gecos = cn
# rfc2307/rfc2307bis - meberof vs. member
# for 389-ds we need rfc2307bis and set ldap_group_member to uniqueMember
ldap_schema = rfc2307bis
ldap_group_member = {{ sssd_ldap_group_member }}
 
ldap_tls_reqcert = hard
ldap_id_use_start_tls = true
ldap_tls_cacert = /etc/ssl/certs/ca-certificates.crt
cache_credentials = true
