{{ ansible_managed | comment }}

[{{ item.description }}]
Identity={{ item.identity }}
Action={{ item.action }}
{% if ( item.result_active | d() ) -%}
ResultActive={{ item.result_active }}
{% endif %}
{% if ( item.result_inactive | d() ) -%}
ResultInactive={{ item.result_inactive }}
{% endif %}
{% if ( item.result_any | d() ) -%}
ResultAny={{ item.result_any }}
{% endif %}
