<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE pam_mount SYSTEM "pam_mount.conf.xml.dtd">

<pam_mount>

{% for item in pam_mount_volumes %}
    <volume options="{{ item.options }}" user="{{ item.user }}" mountpoint="{{ item.mountpoint }}" server="{{ item.server }}" path="{{ item.path }}" fstype="{{ item.fstype }}" {% if pam_mount_ldap_users_group is defined and pam_mount_ldap_users_group|length > 0 %} pgrp="{{ pam_mount_ldap_users_group }}" {% endif %} />
{% endfor %}
    
    <mntoptions allow="{{ pam_mount_mntoptions.allow | default('nosuid,nodev,loop,encryption,fsck,nonempty,allow_root,allow_other') }}" />
    <mntoptions require="{{ pam_mount_mntoptions.require | default('nosuid,nodev') }}" />
    <logout wait="{{ pam_mount_logout.wait | default('0') }}" hup="{{ pam_mount_logout.hup | default('0') }}" term="{{ pam_mount_logout.term | default('0') }}" kill="{{ pam_mount_logout.kill | default('0') }}" />
    <mkmountpoint enable="{{ pam_mount_mkmountpoint.enable | default('1') }}" remove="{{ pam_mount_mkmountpoint.remove | default('true') | lower }}" />

</pam_mount>
