# wireguard configuration file - dkn-buero
[Interface]
Address = {{ wg_address }} 
PrivateKey = {{ wg_privkey }}
{% if wg_dns is defined %}
DNS = {{ wg_dns }}
{% endif %}

[Peer]
PublicKey = {{ wg_pubkey }}
PresharedKey = {{ wg_preshared }}
PersistentKeepalive = 25
AllowedIPs = {{ wg_allowed_ips }}
Endpoint = {{ wg_endpoint }}
